@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.svh{
  height: calc(100vh - 6vh);
  height: calc(100svh - 6vh);
}

.lvh{
  height: 100vh;
  height: 100lvh;
}